
<div class="post-card">
	<div class="repost-header" *ngIf="post.POST_TYPE == 'repost'">
		<i class="ico ico-repost"></i> USERNAME Reposted
	</div>
	<div class="user-avatar">
		<span class="avatar">
			<img [src]="avatarFolder+post.AVATAR_FILENAME"/>
		</span>
	</div>
	<div class="post-content">
		<div class="post-header">
			<span class="user-name">{{post.USER_NAME}}</span>
			<span class="user-id">@{{post.USER_UNIQUE_NAME}}</span>
			<span class="post-time">3h</span>
		</div>
		<div class="post-body">
			<div [innerHTML]="post.USER_TEXT"></div>

			<app-post-quoted *ngIf="post.ORIGINAL_POST && post.POST_TYPE == 'quote'" [post]="post.ORIGINAL_POST"></app-post-quoted>

			<app-image-gallery *ngIf="post.IMAGES && !post.POST_TYPE" [images]="post.IMAGES"></app-image-gallery>

			<app-link-preview *ngIf="post.LINK_PREVIEW && !post.POST_TYPE" [linkPreview]="post.LINK_PREVIEW"></app-link-preview>
		</div>
		<div class="post-footer">
			<app-post-controls></app-post-controls>
		</div>
	</div>
</div>
