<section>
	<div class="container">
		<div class="post-filter">
			<div class="tabs">
				<div class="tab" [ngClass]="{'active' : activePostsFilter == 'all'}" (click)="OnClickFilter('all')">
					<div class="tab-title">All posts</div>
				</div>
				<div class="tab" [ngClass]="{'active' : activePostsFilter == 'following'}" (click)="OnClickFilter('following')">
					<div class="tab-title">Following</div>
				</div>
			</div>
		</div>
		<app-post-add></app-post-add>

		<div class="post-list">
			<app-post-card *ngFor="let post of postsList" [post]="post"></app-post-card>
		</div>
	</div>
</section>
