<section>
	<div class="container">
		<div class="post-filter">
			<div class="tabs">
				<div class="tab" [ngClass]="{'active' : postsFilter == postsFilter.all}" (click)="OnClickFilter(postsFilter.all)">
					<div class="tab-title">All posts</div>
				</div>
				<div class="tab" [ngClass]="{'active' : postsFilter == postsFilter.following}" (click)="OnClickFilter(postsFilter.following)">
					<div class="tab-title">Following</div>
				</div>
			</div>
		</div>
		<app-post-add></app-post-add>

		<div class="post-list">
			<app-post-card *ngFor="let post of postsList" [post]="post"></app-post-card>
		</div>
	</div>
</section>
